body {
  width: 100vw;
  height: 75vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
#logo {
  display: flex;
  width: 200px;
  justify-content: center;
  box-sizing: content-box;
  margin-bottom: 10px;
}

#logo img{
  width: 40px;
  height: 40px;
  margin: 4px
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 97%;
  position: fixed;
  top: 10px;
}

.dropdown {
}
.nav-column {
  justify-content: center;
  align-items: center;

  width: 45px;
  margin: 0px 15px;
  padding: 0;

  border: none;
}

.nav-column:hover {
  text-decoration: none;
}

.nav-column p {
  color: #7b7bff;

  font-size: .8rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
.nav-column img{
  width: 30px
}


.dropdown {

}
.acc-dropdown { 
  border:none;
  width: 50px;
  background-color: #ffffff;
}

.dropdown-item {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.dropdown-item img{
    width: 25px;
}
.dropdown-item p {
  color:#7b7bff;
  line-height: 1.5rem;
  width: 25px;
  margin-bottom :0;
}

table{
  width: 500px;
  border-collapse: collapse;
}

th,td{ 
  border: solid 1px black;
  text-align: center;
}

#search-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-row { 
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.search-form_inputs {
  width: 100%;
  margin: 20px;
  justify-content: center;
}

.search-form_inputs_input-panel {
  width: 50%;
}

.search-form_inputs_input-panel,
.search-form_inputs_select-panel {
  height: 100%;
  justify-content: end;
}

.form-select {
  width: 100px;
  height: 35px;
  font-size: medium;
}
.search-form_inputs_select-panel span,
.search-form_inputs_input-panel span {
  position: relative;
}
.search-form_btn:disabled {
  opacity: 0.5;
}

.form-input-cont {
    width:100%;
    align-items: center;

}
.form-input-cont label {
  position: relative;
  height: 0px;
  top: 13px;
  left: -64px;
  font-size: 13px;
  opacity: 0.7;
}



.form-input {
  height: 35px;
}

.form-btn {
  width: 100px;
  height: 40px;

  font-size: large;
  font-weight: bold;

  color: white;
  background: #7b7bff;
  border: 1px solid white;

  cursor: pointer;
}

.auth-form-cont {
  width: 500px;
  align-items: center;
}

.auth-form {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.auth-form-input {
  height: 45px;

  padding-top: 14px;
  padding-left: 5px;
  padding-right: 5px;

  font-size: medium;
}

.auth-form input{
  width: 200px;
  margin: 5px;
}




.auth-form_other-link{
  margin-top:10px;
  align-items: center;

}
.auth-form_other-link img{
  width: 30px
}
.auth-form_other-link a{
    color: #7b7bff;
    
}
