body {
  width: 100vw;
  height: 75vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
#logo {
  display: flex;
  width: 200px;
  justify-content: center;
  box-sizing: content-box;
  margin-bottom: 10px;
}

#logo img{
  width: 40px;
  height: 40px;
  margin: 4px
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 97%;
  position: fixed;
  top: 10px;
}

nav a {
  text-decoration: none;
  color: #7b7bff;
  margin: 0px 10px;
}

table{
  width: 500px;
  border-collapse: collapse;
}

th,td{ 
  border: solid 1px black;
  text-align: center;
}

.warning-msg {
  text-align: center;
  color: red;
  position: relative;
}
.warning-block {
  border-color: red;
}

#search-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.search-form_inputs {
  width: 100%;
  margin: 20px;
  justify-content: center;
}

.search-form_inputs_input-panel {
  width: 50%;
}

.search-form_inputs_input-panel,
.search-form_inputs_select-panel {
  height: 100%;
  justify-content: end;
}

.form-select {
  width: 100px;
  height: 35px;
  font-size: medium;
}
.search-form_inputs_select-panel span,
.search-form_inputs_input-panel span {
  position: relative;
}
.search-form_btn:disabled {
  opacity: 0.5;
}

.form-input-cont label {
  position: relative;
  height: 0px;
  top: 7px;
  left: 9px;
  font-size: 13px;
  opacity: 0.7;
}
.form-input {
  height: 35px;
}

.form-btn {
  width: 100px;
  height: 40px;

  font-size: large;
  font-weight: bold;

  color: white;
  background: #7b7bff;
  border: 1px solid white;

  cursor: pointer;
}

.auth-form-cont {
  width: 500px;
  align-items: center;
}

.auth-form {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.auth-form-input {
  height: 45px;

  padding-top: 11px;
  padding-left: 5px;
  padding-right: 5px;

  font-size: medium;
}

.auth-form input,
.auth-form-btn {
  width: 200px;
  margin: 5px;
}

.auth-form-cont a {
  text-align: center;
}
