{% extends "layout.html" %} {% import "auth-form.jinja2" as form_macro %}
{%include "header.html"%} 


{%block content%}
<link
  href="{{ url_for('static', filename='css/forms.css') }}"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='css/error.css') }}"
  rel="stylesheet"
/>

<div class="flex-column auth-form-cont">
  {{form_macro.build_form(form)}} {%with other_form = "register" if
  form_for == "login" else "login" %}
  <div class="flex-column auth-form_other-link">
    <img src="../static/imgs/{{other_form}}.png" />
    <a href="/{{other_form}}"> {{other_form}} </a>
  </div>
  {%endwith%}
</div>
{%endblock%}
