  {%macro build_error(field)%}
  {% if field.errors %} 
    {% for error in field.errors %}

        <div class="err-cont">
            <div class="alert alert-danger" role="alert">
            {{error}}
            </div>
        </div>

    {% endfor %}
   {% endif %}


{%endmacro%}