  {%macro build_error(errors)%}
    {% for error in errors %}
        <div class="err-cont">

                    <div class="alert alert-danger" role="alert">
                    {{error}}
                    </div>

        </div>
    {% endfor %}

{%endmacro%}