{% macro build_input(field,size=20, class = "form-input auth-form-input") %}
<div class="flex-column form-input-cont">
  {% if field.errors %} {% for error in field.errors %}


  {% endfor %} {% endif %}
  <label> {{field.label.text}} </label>
  {{ field(size = size, class = class)}}
</div>
{% endmacro %}

{% macro build_submit(field) %}

 {{field(class =
      "form-btn")}}

{% endmacro %}


{% macro build_form(form, class) %}
        <form method=post class = {{class}}>
            {{form.csrf_token}}
            {% for field in form %}

            <!--Render all except for the laset field which is a submit btn--> 
                {% if field.type != "SubmitField" %}
                  {{build_input(field)}}

                {% else %}
                  {{build_submit(field)}}
                {% endif %}
                
            {% endfor %}
        </form>

{% endmacro %}