<link
  href="{{ url_for('static', filename='css/forms.css') }}"
  rel="stylesheet"
/>
{%extends "layout.html" %} {%import "auth-form.jinja2" as auth_form %} {% block
content %}

<div class="flex-column auth-form-cont reset-form-cont">
  {% if step =="after" %}
  <p>The password reset email was sent to {{email}}</p>
  
  {% elif step == "before" %}
  <p>Please type in your email to send password reset link.</p>
  {{auth_form.build_form(form)}} {% elif step =="reset" %}
  {{auth_form.build_form(form)}} {% endif %}
</div>

{% endblock %}
